* {
  box-sizing: border-box;
}

body {
  background: #F4F1DE;
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 100px;
  /* margin-bottom: 50px; */
}

h2 {
  color: #3D405B;
}

p {
  color: #3D405B;
  font-size: 18px;
}

header {
  background-image: linear-gradient(#fff, transparent), url(pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
}

.pizzamenu {
  background: #69A06A;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.bot {
  background: #3D405B;
  color: #fff;
  font-size: 17px;
  width: 60%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0 15px 15px 15px;
}

.customer {
  background: #F2CC8F;
  color: #000;
  font-size: 17px;
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 15px 15px 0 15px;
}

button {
  background: #FE5F55;
  width: 60%;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background: #FF8F87;
}

.message {
  background: #3D405B;
  color: #fff;
  font-size: 17px;
  width: 100%;
  padding: 20px;
  margin: 30px auto;
  flex-flow: 1;
  border-radius: 0 15px 15px 15px;
  display: none;
}

.message-active {
  display: block;
}

footer {
  height: 120px;
  background: #69A06A;
  align-items: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}


/* MEDIA QUERY DESKTOP */
@media (max-width: 1024px) {
  .maincontent {
    width: 100%;
  }
  .pizzamenu {
    width: 85%;
  }
  form {
    width: 90%;
  }
  .bot, .customer {
    width: 70%;
    font-size: 15px;
  }
  button {
    width: 60%;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
  }

  .message {
    width: 100%;
  }
}